html{
    background: url(mulher.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-attachment: fixed;
}
#cabecalho {
    text-align: center;
    color: antiquewhite;
    background-color: black;
    margin: auto;
    padding: 16px 16px 2px 16px;
    font-family: 'Cinzel Decorative', cursive; 
}
.links {

    background-color: black;
    text-align: right;
    display: block;
    padding-right: 200px;
}
#home{
    color: gray;
    font-size: 22px;
    padding: 0px 20px;
    margin: 2px;
    font-family: 'Indie Flower', cursive;

}
#projetos1 {
    color: gray;
    font-size: 22px;
    padding: 0px 20px;
    margin: 2px;
    font-family: 'Indie Flower', cursive;

}
#contato1 {
    color: gray;
    font-size: 22px;
    padding: 0px 20px;
    margin: 2px;
    font-family: 'Indie Flower', cursive;

}
#home:hover{
    color: hotpink;
}
#projetos1:hover{
    color: hotpink;
}
#contato1:hover{
    color: hotpink;
}
#imglab {
    border: 3px solid black;
    height: 500px;
    width: 800px;
    margin-left: 270px;
}
#imgresponsive {
    margin-left: 100px;
    height: 500px;
    width: 330px;
    border: 3px solid black;  
}
#teste-selecao {
    font-family: 'Boogaloo', cursive;
    text-align: center;
    color: hotpink;
    font-size: 50px;
}
#text {
    font-family: 'Boogaloo', cursive;
    font-size: 35px;
    width: 1250px;
    text-align: justify;
    margin-left: 260px;
    color: #A68064;
    background-color: white;
}
#redes-sociais {
    background-color: black;
    color: blanchedalmond;
    display: flex;
    margin: 50px 0px 0px 0px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    align-items: center;
}
i {  
     font-size: 40px;
     color: violet; 
     margin-left: 0px;
}
i:hover {
    color: #70DBDB
}
.redes-s {
    margin-left: 170px;
    margin-right: 0px;
}
.num-email {
    margin: 10px;
}
.icons{
    margin-left: 0px;
    margin-right: 10px;
}
.icons-1 a {
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px;
}