body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
    background-color: #FF8C00;
    width: 100vw;
}

input {
    border: none;
    width: 120px;
    height: 50%;
    align-self: center;
    justify-self: end;
    outline: 0;
    display: grid;
    margin-right: 6%;
}

header h1 {
    margin-left: 3%;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.class {
    width: 10%;
    height: 10%;
}

a {
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid green;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
}

img {
    width: 100%;
    height: 200px;
    padding-bottom: 40px;
}

footer h1 {
    background-color: black;
    color: ivory;
    padding: 20px;
    font-size: 3em;
    text-align: center;
}


/* tablets */

@media screen and (min-device-width: 421px) and (max-device-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}


/* celulares */

@media screen and (min-device-width: 320px) and (max-device-width: 420px) {
    main {
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 1fr;
    }
}