.card-header > img {
    width: 50px;
    border-radius: 50%;
    height: 46px;
    margin-top: 4px;
}
.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #377ebd;
    margin-left: 26px;
    margin-right: 20px;
}
.card-header > h4:hover {
    color: bisque
}